.cards{
    &__contenedor{
        display: flex;
        flex-wrap: wrap;
        column-gap: 3rem;
        row-gap: 3rem;
        &__item{
            background-color: rgb(244, 244, 244);
            border: 2px solid #e5e5e5;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 3rem;
            width: calc(25% - 9rem / 4);
            @media only screen and (max-width:$bp-large){
                width: calc(50% - 1.5rem);
            }
            @media only screen and (max-width:$bp-small){
                width: 100%;
            }
            i{
                color: $color-primary;
                font-size: 3rem;
            }
            &--titulo{
                font-size: 2rem;
                font-weight: 700;
                color: $color-secondary;
                margin-top: 2rem;
            }
            &--descri{
                font-size: 1.4rem;
                color: $color-secondary;
            }
        }
    }
}